.bg-image {
    background-size: cover;
    background-position: start;
    height: 100vh;
}

.button-otp {
    background-color: #4C73C1;
    color: white;
}

.button-otp:hover {
    background-color: #042b7a;
    color: white;
    box-shadow: 0px 2px 37px 15px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 0px 2px 37px 15px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 0px 2px 37px 15px rgba(0, 0, 0, 0.75) inset;
}
.icon-back {
    fill:black;
}
.icon-back:hover {
    fill: #142e61;
    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
}

.button-back {
    color: black;
}

.button-back:hover {
    color: #142e61;
    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
}

/* Bagian Mobile Responsif */
@media (max-width: 767px) {
    .bg-image {
        display: none;
    }

    .bg-image-mb {
        background-image: url('images/image_gedung.jpeg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        padding: 20px;
    }

    .container-form2 {
        background-color: #244296E6;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        width: 100%;
        color: white;
        margin: 0;
    }

    .button-back {
        color: white;
    }
    .icon-back {
        fill: white;
    }
    
    .button-back:hover {
        color: #c0c9fd;
        text-shadow: 4px 4px 16px rgba(255, 255, 255, 0.6);
    }

    .container-judul {
        color: white;
        text-align: center;
    }

    #email, 
    #password,
    .button-otp,
    #kode-otp,
    .button-cancel{
        width: 100% !important;
        margin-bottom: 5px;
    }
    .button-cancel {
        margin-top: 10px;
    }

    .form-input {
        margin-top: 20px;
    }

}

@media (min-width: 768px) {
    .container-form2 {
        margin: 25px;
    }
    .clr-subjudul {
        color: #4C73C1;
    }
}